body {
    font-family: helvetica, sans-serif;
    width: 350px;
  }

  h1 {
    margin-bottom: 20px;
    color: rgb(70, 136, 212);
    border:  5px dotted black;
    background-color: rgb(142, 236, 185);
  }

  label {
    font-weight: bold;
  }

  div {
    padding-bottom: 20px;
  }

  input[type="text"] {
    padding: 5px;
    width: 150px;
    background-color: rgb(189, 221, 211);
    text-align: center;
    text-decoration-color: black;
  }

  p {
    background: #b1ecee;
    color: #5e2612;
    padding: 10px;
    visibility: hidden;
  }
  button:hover{
    color: rgb(44, 47, 190);
    background-color: rosybrown;
  }